:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #FFDB58;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding: 20px;
}

nav > a {
  width: 150px;
  border: solid 2px #000;
  border-radius: 6px;
  padding: 10px;
  background-color: #BAFCA2;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}
nav > a:hover {
  box-shadow: 2px 2px 2px #000;
}
nav > a + a {
  margin-left: 40px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  border-bottom: 1px solid #ccc;
  margin: 0 0 20px;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
